# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/

# Build output directories
dist/
build/

# 환경 변수 파일 (필요에 따라 추가)
.env
.env.*.local
secrets

# Optional npm cache directory
.npm/

# TypeScript build info
*.tsbuildinfo

# 테스트 커버리지 결과
coverage/

# IDE 관련 설정 파일
.vscode/
.idea/
.cursor/

# OS에서 생성하는 파일
.DS_Store
Thumbs.db

# 임시 폴더
_tmp/

cmd/
