<div style="max-width: 440px; width: 100%; padding: 20px">
  <div
    style="
      background: #fff;
      border: 1px solid #eee;
      border-radius: 20px;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 100%;
      padding: 40px;
    "
  >
    <p
      style="
        font-size: 22px;
        font-weight: 700;
        color: #121316;
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        margin-top: 0;
      "
    >
      UModeler X
    </p>
    <p
      style="
        font-size: 24px;
        font-weight: 700;
        color: #121316;
        margin: 0;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(238, 238, 238, 1);
        width: 100%;
      "
    >
      <%- title %>
    </p>
    <p
      style="
        font-size: 14px;
        color: #121316;
        line-height: 20px;
        width: 100%;
        text-align: center;
      "
    >
      <%= description %>
    </p>
    <p
      style="
        color: #0e6af4;
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(238, 238, 238, 1);
        width: 100%;
        margin-top: 12px;
        font-weight: 700;
      "
    >
      <%= code %>
    </p>
    <p
      style="
        font-size: 14px;
        color: #666;
        line-height: 20px;
        width: 100%;
        text-align: center;
      "
    >
      <%= footer %>
    </p>
  </div>
</div>
